/* Importando a fonte Sora do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

/* Importando o TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais */
body {
  font-family: 'Sora', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/* Personalização dos Botões */
button {
  font-family: 'Sora', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Cores Personalizadas */
.bg-primary {
  background-color: #f9ab2d;
}

.bg-accent {
  background-color: #4a405f;
}

.bg-background {
  background-color: #f7e6cb;
}

.text-secondary {
  color: #232323;
}

.text-primary {
  color: #f9ab2d;
}

.text-accent {
  color: #4a405f;
}

/* Estilo para o Header */
header {
  background-color: transparent;
}

header nav a {
  transition: color 0.3s;
}

header nav a:hover {
  color: #f9ab2d;
}