/* Importando a fonte Sora do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

/* Importando o TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais */
body {
  font-family: 'Sora', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/fundo-3.jpg');
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/* Personalização dos Botões */
button {
  font-family: 'Sora', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Cores Personalizadas */
.bg-primary {
  background-color: #f9ab2d;
}

.bg-accent {
  background-color: #4a405f;
}

.bg-background {
  background-color: #f7e6cb;
}

.text-secondary {
  color: #232323;
}

.text-primary {
  color: #f9ab2d;
}

.text-accent {
  color: #4a405f;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313131;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #010300;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313131;
}